{% extends "default_free.html" %}

<!--{% block conteudo %}-->

<!--Bem vindo convidado a {{tipo}} de anotações-->
<!--<table border="1" style="background-color:aliceblue">-->
    <!--<tr>-->
        <!--&lt;!&ndash;<td>id</td>&ndash;&gt;-->
        <!--<td>TEXTO</td>-->
        <!--<td>DESCRICAO</td>-->
        <!--<td>DATA</td>-->
        <!--<td>IMAGEM</td>-->
    <!--</tr>-->
    <!--{% for anotacao in lista %}-->
    <!--<tr>-->
        <!--<td>{{anotacao.titulo}}</td>-->
        <!--<td>{{anotacao.descricao}}</td>-->
        <!--<td>{{anotacao.data}}</td>-->
        <!--<td>-->
            <!--{% if(anotacao.imagem != None) %}-->
            <!--&lt;!&ndash;<div class="hover_img" src="../static/image.gif">&ndash;&gt;-->
            <!--<a><span><img src="../static/imagens/{{anotacao.imagem}}" width="150" height="100"-->
                          <!--alt="image"/></span></a>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--{% endif %}-->
        <!--</td>-->

    <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->

<!--{% endblock %}-->


